.tweet-wrapper{
    border: 1px solid black;
    padding: 1rem;
    width: 800px;
}
.likes .created-at{
    font-size: larger;
}   
.like-createdAt-wrapper{
    display: flex;
    justify-content: space-between;
}
.tweet-edit-wrapper{
    display: flex;
    justify-content: space-between;
}
.tweet-content{
    margin-bottom: 1rem;
}